@import "tailwindcss";

@media print {
  body * { visibility: hidden; }
  #receipt-print,
  #receipt-print * { visibility: visible; }
  #receipt-print { position: fixed; top: 0; left: 0; }

  .receipt-58mm {
    width: 58mm;
    font-size: 10px;
    line-height: 1.3;
  }
  .receipt-80mm {
    width: 80mm;
    font-size: 12px;
    line-height: 1.4;
  }

  @page {
    margin: 0;
    size: auto;
  }
}

.receipt-58mm {
  font-size: 10px;
  width: 58mm;
}

.receipt-80mm {
  font-size: 12px;
  width: 80mm;
}
